---
http_interactions:
- request:
    method: get
    uri: https://api.smc-connect.org/search?keyword=Care&kind=Human%20Services&location=94025&page=1&per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"05ba2154eb65d549c51f58925829f6a2"'
      Link:
      - <https://api.smc-connect.org/search?keyword=Care&kind=Human+Services&location=94025&page=18&per_page=5>;
        rel="last", <https://api.smc-connect.org/search?keyword=Care&kind=Human+Services&location=94025&page=2&per_page=5>;
        rel="next"
      X-Total-Count:
      - '88'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":1713,"active":true,"admin_emails":[],"alternate_name":"","coordinates":[-122.2141324,37.4773738],"description":"This
        regional HSA office offers social services eligibility determination and assistance
        for: Health Coverage (Medi-Cal), Food Assistance (CalFresh), Financial Assistance
        (CalWORKs) and General Assistance, and Children and Family Services and Employment
        Services. This location also offers a Job Information Center to help clients
        find jobs and with employment services.","kind":"Human Services","latitude":37.4773738,"longitude":-122.2141324,"name":"Southern
        Region., Human Services Agency, Redwood City Office","short_desc":"Provides
        social services eligibility determination and assistance for Health Coverage,
        CalFresh, CalWORKs and General Assistance, Children and Family Services, and
        Employment Services","slug":"southern-region-human-services-agency-redwood-city-office","updated_at":"2015-11-16T13:26:55.695-08:00","url":"https://api.smc-connect.org/locations/southern-region-human-services-agency-redwood-city-office","address":{"id":1436,"address_1":"2500
        Middlefield Rd.","address_2":null,"city":"Redwood City","state_province":"CA","postal_code":"94063"},"organization":{"id":1310,"accreditations":[],"alternate_name":null,"date_incorporated":null,"description":null,"email":null,"funding_sources":[],"licenses":[],"name":"San
        Mateo County Human Services Agency","website":null,"slug":"san-mateo-county-human-services-agency","url":"https://api.smc-connect.org/organizations/san-mateo-county-human-services-agency","locations_url":"https://api.smc-connect.org/organizations/san-mateo-county-human-services-agency/locations"},"phones":[{"id":2470,"department":"Main
        Number","extension":null,"number":"650-599-3811","number_type":"voice","vanity_number":null},{"id":2471,"department":"Children
        and Family Services","extension":null,"number":"650-802-7922","number_type":"voice","vanity_number":null},{"id":3572,"department":"Economic
        Self Sufficiency","extension":null,"number":"650 364-5684","number_type":"fax","vanity_number":null},{"id":3626,"department":"Economic
        Self Sufficiency","extension":null,"number":"800-223-8383","number_type":"voice","vanity_number":null}]},{"id":1496,"active":true,"admin_emails":[],"alternate_na[...]
